
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous">
</script>
<script>
    $(document).ready(function() {
        setInterval(function(){ 
        // Make Ajax Request and expect JSON-encoded data
        $.getJSON(
          '/getdata',
          function(data) {
              //document.getElementById('_id').value = _id;
              string = data
              data = JSON.parse(data)
              console.log(data)
              console.log(Math.abs(Math.round(data.gyroX )))
              document.getElementById("datahere").textContent = string;
              slash_value = Math.abs(Math.round(data.gyroX*100 ))
              if(slash_value % 2 == 0){
                document.getElementById("slash").style.display = "none";
              }
              else{
                document.getElementById("slash").style.display = "inline";
              }
              
               
            }
        );}, 1000);
    });
</script>
    <h2 id="datahere">Your data should appear here</h2>
    <br>
    <div class ="mainBoxFull">
    <img src="{{url_for('static', filename='dummyhealth.png')}}"  />
    <div style="position:relative" width="1500" height="1000" class = "center">
      
      <img style="position:absolute;" width="500" height="500" src="{{url_for('static', filename='shroom.gif')}}"  />
      <img id = "slash" style="position:absolute; margin-top: 130px;"  height="400" src="{{url_for('static', filename='slash3.gif')}}"  />
    </div>
  </div>




</html>